html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.slide-card {
  max-width: 800px;
  text-align: center;
}



body {
  display: block !important;   /* force normal block flow */
}



.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slide-card img {
  max-width: 600px;   /* limit width */
  height: auto;       /* keep aspect ratio */
  border-radius: 8px;
  margin-bottom: 20px;
}
